/* Import Chewy font */
@font-face {
  font-family: 'Chewy';
  src: url('/fonts/Chewy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Import OpenSans Medium */
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Import OpenSans Regular */
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}